body {
  background-image: url('../images/bg-dimmed.jpg');
  background-size: cover;
}

.title {
  margin: 20px 0 0 0;
}
.title h1, .title h2 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  line-height: 1.4em;
}

.title p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5em;
}

.headroom {
    transition: transform 200ms linear;
    -webkit-transition: -webkit-transform 200ms linear;
    -moz-transition: -moz-transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
}



button a, button a:hover {
  /*color: #5A9F85;*/
  text-decoration: none;
  color: #000;
}