body {
  background-image: url('../images/bg-dimmed-blurred.jpg');
  background-size: cover;
}

.title {
  margin: 25px 0 0 0;
}
.title h1 {
  font-size: 2.4em;
  font-family: 'Roboto', sans-serif;
  color: #000;
  line-height: 1.4em;
}

.title p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 1.3em;
  line-height: 1.5em;
}


button a, button a:hover {
  /*color: #5A9F85;*/
  text-decoration: none;
  color: #000;
}

